body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  background-color: #18596d;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  color: grey;
  margin: 12px;
}

.button-edits {
  background: #5accc5 !important;
  color: #fff !important;
}

.create-post {
  margin-top: 0;
}

.edit-button {
  position: absolute;
  top: 20px;
  right: 55px;
  color: cyan;
}

.delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: cyan;
}

.cancel-button {
  position: absolute;
  top: 601px;
  left: 270px;
}

.cancel-update-button {
  position: absolute;
  top: 602px;
  left: 340px;
}

.button-css:active {
  transform: translateY(3px);
}

.button-css:focus {
  outline: 0;
}

.card {
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.action__btn {
  cursor: pointer;
}
